<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
      
        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <div class="x_panel" style="height: 700px;overflow:auto">
            <div class="x_title">
              <h2>Materiels
                <small>Les installations sur sites</small>
              </h2>
             
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table class="table table-striped" style="overflow:auto">
                <thead>
                  <tr>
                    <th>Modèle</th>
                    <th>Numéro de série</th>
                    <th>Site</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let materiel of materielclient " >
                    <td>{{materiel.article.nom}}</td>
                    <td>{{materiel.serialID}}</td>
                    
                    <td >{{materiel.lesite.nom}}</td>
                   
                  </tr>
                </tbody>
              </table>
              <div class="row">
                  <div class="col-lg-7"></div>
                  <div class="col-lg-5" style="overflow: auto">
                <pagination [totalItems]="totalItems" [ngModel]="currentPage" [itemsPerPage]="taillePage"
                  (pageChanged)="pageChanged($event)"></pagination> 
                  </div>
              </div>
              

            </div>
          </div>
        </div>


        <div class="clearfix"></div>

      
      </div>
    </div>
  </div>