<nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
  <div class="container">


    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" pageScroll href="#tableauinter">
            <Table>le Planning</Table>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" pageScroll href="#editer">Créer/Editer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink='/home'>
            <i class="fa fa-power-off"></i> Deconnexion</a>
        </li>


      </ul>
    </div>
  </div>
  <div class="navbar-brand js-scroll-trigger">Bonjour, Opérateur {{nom_operateur}}</div>
</nav>

<header class="masthead text-center  d-flex " id="tableauinter">
  <div class="container-fluid my-auto " style="height:97%; ">
    <div class="row">
      <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 left_col scroll-view " style="position:fixed; height:97%; ">

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="navbar nav_title" style="border: 0;">
            <div class="site_title">
              <i class="fa fa-paw"></i>
              <span>Loncoto</span>
            </div>
          </div>

          <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
              <li>
                <a routerLink='/operateur'>
                  <i class="fa fa-home"></i> Tableau de bord
                  <span class="fa "></span>
                </a>
              </li>
              <li>
                <a routerLink='/operateur/planning'>
                  <i class="fa fa-edit"></i> Planning
                  <span class="fa "></span>
                </a>
              </li>
              <li>
                <a routerLink='/operateur/interventions'>
                  <i class="fa fa-table"></i> Interventions
                  <span class="fa "></span>
                </a>
              </li>
              <li>
                <a routerLink='/operateur/referentiel'>
                  <i class="fa fa-bar-chart-o"></i> Referentiels
                  <span class="fa "></span>
                </a>
              </li>
            </ul>
          </div>

          <div class="menu_section">
            <h3>Live On</h3>
            <ul class="nav side-menu">
              <li>
                <a routerLink='/operateur' pageScroll href="#messagerie">
                  <i class="fa fa-bug"></i> Messagerie
                  <span class="fa "></span>
                </a>
              </li>
              <li>
                <a>
                  <i class="fa fa-windows"></i> Extras
                  <span class="fa "></span>
                </a>
              </li>


            </ul>
          </div>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        </div>
        <!-- /sidebar menu -->

      </div>

      <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 placeenhaut">

        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Tables
                  <small>Some examples to get you started</small>
                </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Articles
                      <small>oui</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                        <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                        </a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                          <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                          <li>
                            <a href="#">Settings 1</a>
                          </li>
                          <li>
                            <a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a class="close-link">
                          <i class="fa fa-close"></i>
                        </a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
<!--
                    <div class="row">
                      <pagination [totalItems]="totalItems" [ngModel]="currentPage" [itemsPerPage]="taillePage" (pageChanged)="pageChanged($event)"></pagination>
                    </div>
                  -->



                    <table class="table table-striped" border="1">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>nom</th>
                          <th>marque</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let article of articlesSubject |async">
                          <td>{{article.id}}</td>
                          <td>{{article.nom}}</td>
                          <td>{{article.marque}}</td>

                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>


              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Stripped table
                      <small>Stripped table subtitle</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                        <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                        </a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                          <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                          <li>
                            <a href="#">Settings 1</a>
                          </li>
                          <li>
                            <a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a class="close-link">
                          <i class="fa fa-close"></i>
                        </a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Username</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Hover rows
                      <small>Try hovering over the rows</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                        <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                        </a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                          <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                          <li>
                            <a href="#">Settings 1</a>
                          </li>
                          <li>
                            <a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a class="close-link">
                          <i class="fa fa-close"></i>
                        </a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Username</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>


              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Boardered table
                      <small>Bordered table subtitle</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                        <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                        </a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                          <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                          <li>
                            <a href="#">Settings 1</a>
                          </li>
                          <li>
                            <a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a class="close-link">
                          <i class="fa fa-close"></i>
                        </a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Username</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

              <div class="clearfix"></div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary backgroundallpage" id="editer">
  <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2"></div>
  <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 ">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <app-edit-interventions-operateur [editId]="currentEditId"></app-edit-interventions-operateur>
        </div>
      </div>
    </div>
  </div>
</section>