<div class=" well">

  <div class="panel panel-danger">
    <div class="panel-heading">
      Signaler le problem
    </div>
    <div class="panel-body">


      <form>
        <input type="hidden" name="id" id="id" [(ngModel)]="currentIntervention.id" />
        <div class="form-group">
          <label>Materiel</label>
          <input type="text" class="form-control" name="materiel" id="materiel" [(ngModel)]="currentIntervention.Materiel" />
        </div>
     

        <div class="form-group">
          <label>Commentaire</label>
          <input type="text" class="form-control" name="commentaire" id="commentaire" [(ngModel)]="currentIntervention.commentaire"
          />
        </div>

        <button class="btn btn-warning" (click)="cancelIntervention()">Envoyer</button>
        <button class="btn btn-sucess" (click)="saveIntervention()"  pageScroll routerLink='/operateur' href="#interlist">save</button>
      </form>


    </div>
  </div>
</div>